body{
    background-image: url(img/cab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

@media screen and (max-width:1024px){
    body{
        background-size: 100vh 240vh;
    }
}
.loginbox{
    width: 320px;
    height:420px ;
    background:rgb(82, 182, 240);
    color: rgb(3, 0, 0);
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity: 0.80;
    border-radius: 10px;
    
   
    
}
h1{
    margin: 0px;
    padding: 0 0 20px;
   
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}


.loginbox input[type="text"]{
    border: none;
    border-bottom: 1px solid rgb(34, 31, 31);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(97, 82, 82);
    font-size: 16px;
   
}
.loginbox input[type="Password"]{
    border: none;
    border-bottom: 1px solid rgb(46, 43, 43);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(97, 82, 82);
    font-size: 16px;
}
input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb25fb;
    color: rgb(49, 45, 45);
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;

}
.loginbox a{
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    color: darkblue;
}

